    /* #region Common */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    img {
        max-width: 100%;
    }
    /* #endregion Common */
    /* #region Utility */
    
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .pos_rel {
        position: relative;
    }
    
    .pos_abs {
        position: absolute;
    }
    
    .flex-cont {
        display: flex;
    }
    
    .flex-row-wrap {
        flex-flow: row wrap;
    }
    /* #region Grid */
    /* #region Row */
    
    .row {
        height: 100%;
    }
    
    .row::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .row_50 {
        height: 50%;
    }
    /* #endregion Row */
    /* #region Col */
    
    [class^="col_"] {
        float: left;
        height: 100%;
    }
    
    .col_50 {
        width: 50%;
    }
    
    .col_100 {
        width: 100%;
    }
    
    .col_33 {
        width: calc(100%/3);
    }
    
    .col_40 {
        width: 40%;
    }
    
    .col_60 {
        width: 60%;
    }
    
    .col_20 {
        width: 20%;
    }
    
    .col_80 {
        width: 80%;
    }
    
    .col_25 {
        width: 25%;
    }
    
    .col_50 {
        width: 50%;
    }
    /* #endregion Col */
    /* #endregion Grid */
    /* #region List */
    
    .unstyled_list {
        list-style: none;
    }
    
    .inline_list {
        display: inline-block;
    }
    
    .inline_list li {
        display: inline-block;
    }
    /* #endregion List */
    /* #region Button */
    
    .btn {
        display: inline-block;
        background-color: transparent;
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
        text-align: center;
    }
    /* #endregion Button */
    /* #region Text-align */
    
    .text-right {
        text-align: right;
    }
    
    .text-left {
        text-align: right;
    }
    /* #endregion Text-align */
    /* #region Space */
    /* #region Padding */
    
    .px_1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .pr_1 {
        padding-right: 1rem;
    }
    
    .pl_1 {
        padding-left: 1rem;
    }
    
    .py_1 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .pt_1 {
        padding-top: 1rem;
    }
    
    .pb_1 {
        padding-bottom: 1rem;
    }
    /* #endregion Padding */
    /* #region Margin */
    
    .mx_1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .mr_1 {
        margin-right: 1rem;
    }
    
    .ml_1 {
        margin-left: 1rem;
    }
    
    .my_1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .mt_1 {
        margin-top: 1rem;
    }
    
    .mb_1 {
        margin-bottom: 1rem;
    }
    /* #endregion Margin */
    /* #endregion Space */
    /* #region Border */
    
    .b_black {
        border: 1px solid black;
    }
    /* #endregion Border */
    /* #endregion Utility */
    /* #region Debug */
    
    .debug #site_header {
        background-color: orange;
    }
    
    .debug #site_main {
        background-color: aquamarine;
    }
    
    .debug #site_footer {
        background-color: chartreuse;
    }
    
    .debug [class^="col_"] {
        background-color: rgb(126 49 34);
        border: 1px solid black;
    }
    /* #endregion Debug */