/* #region Common */

:root {
    --deep-dark: #000000;
    --primary: #8F9797;
    --primary-dark: #202020;
    --primary-trsp: #66707B80;
    --light: #EDF8F7;
    --confirm: #4BC800;
    --end: #FF0000;
}

* {
    font-family: 'Roboto', sans-serif;
}


/* #endregion Common */


/* #region Utility */

.primary-btn {
    background-color: var(--primary);
    color: var(--light);
    text-align: center;
    border-radius: 10%;
    font-size: 55%;
    padding: 3% 4%;
}

.icon {
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.icon>i {
    font-size: 140%;
}

.icon>span {
    font-size: 75%;
}


/* #endregion Utility */


/* #region site_header */

#site_header {
    height: 4vh;
    background-color: var(--deep-dark);
    justify-content: flex-end;
}

#site_header>.container {
    height: 100%;
    width: 7.7%;
    justify-content: space-around;
}

#site_header .primary-btn {
    margin: 4%;
}


/* #endregion site_header */


/* #region site_main */

#site_main {
    background-color: var(--deep-dark);
    height: 88vh;
    justify-content: center;
    align-items: center;
}

#site_main>.container {
    width: 92%;
    height: 90%;
    justify-content: space-between;
}

#site_main .image {
    width: 14%;
    height: 19%;
    background-image: url("../img/placeholder-img.jpg");
    background-size: cover;
    background-position: center;
}

#site_main .text-img {
    width: 33%;
    background-color: var(--primary-trsp);
    color: var(--light);
    height: 20%;
    font-size: 55%;
    align-self: flex-end;
    text-align: center;
    padding-top: 1.5%;
}


/* #endregion site_main */


/* region site_footer */

#site_footer {
    height: 8vh;
    background-color: var(--primary-dark);
    justify-content: space-between;
}

#site_footer>div {
    height: 100%;
    /* background-color: aquamarine; */
}

#site_footer>.left-icons {
    width: 10%;
    justify-content: space-around;
}

#site_footer>.center-icons {
    width: 35%;
}

#site_footer>.end-meeting {
    width: 5%;
    background-color: var(--primary);
    color: var(--end);
    font-size: 60%;
    justify-content: center;
    align-items: center;
}


/* endregion site_footer */